.main-container {
	width: 100%;
	display: flex;
	direction: row;
}

.main-body {
    width: 80%;
    line-height: 161.8%;
}

.main-bodyconv {
    width: 90%;
    line-height: 161.8%;
}

.header-container {
	width: 10%;
	padding-left: 40px;
	padding-right: 20px;
}

.paragraph {
	width: 70%;
	padding-left: 40px;
	padding-right: 40px;
	font-weight: 400;
	font-size: 16pt;
	text-align: justify;
        line-height: 161.8%;
        font-family: Helvetica, sans-serif;
}

.publ {
	width: 120%;
	padding-left: 40px;
	padding-right: 0px;
	font-weight: 400;
	font-size: 16pt;
	text-align: left;
        line-height: 161.8%;
        font-family: Helvetica, sans-serif;
}

.paragraphconv {
	width: 100%;
	padding-left: 40px;
	padding-right: 0px;
	font-weight: 400;
	font-size: 16pt;
	text-align: justify;
        line-height: 161.8%;
        font-family: Helvetica, sans-serif;
}

.language {
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	font-weight: 700;
	font-size: 18pt;
	text-align: justify;
        line-height: 161.8%;
        font-family: Helvetica, sans-serif;
}

.dedication {
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	font-weight: 500;
	font-size: 18pt;
	text-align: justify;
        line-height: 161.8%;
        font-family: Helvetica, cursive, sans-serif;
}

.two-svg {
	display: flex;
	direction: row;
}

.svg {
	padding: 40px;
	margin: 25px;
}

.svg3-5 {
	padding: 40px;
}

.img {
	width: 100px;
	padding: 20px;

}

.header1 {
	padding-left: 70px;
}

.author {
	font-size: 18pt;
	font-weight: 500;
}

.date {
	text-align: left;

}

.menu-right {
     align: center;

}
