.header2 {
	padding-left: 80px;
}

.header3 {
	padding-left: 100px;
}

.right {
    padding-left: 300px;
    font-size: 16pt;
}

.paragraph-ul {
    padding-left: 70px;
    width: 70%;
	padding-right: 40px;
	font-weight: 400;
	font-size: 16pt;
}
.paragraph-ol {
    padding-left: 70px;
    width: 70%;
	padding-right: 40px;
	font-weight: 400;
	font-size: 16pt;
	text-align: justify;
}
